*/dist
*/.vscode
*/.idea
*/.DS_Store
*/.env
*/.env.local
*/.env.development
*/.env.test
*/.env.production
*/.env.*.local
*/.env.*.development
*/.env.*.test
*/.env.*.production
*/.cache
*/.eslintcache
*/.parcel-cache
*/.yarn
*/.pnp
*/.pnp.js
*/.pnp.cjs
*/.nuxt
*/.next
*/.node_modules
